$blue: #2F53B8;
$white: #FFFFFF;
$gray: gray;
$background-color: #F5F5F5;
$book-background-color: #FEFEFE;
$border-color: #e6e6e6;
$shadow-color: #aaaaaa;
$text-highlight-color: #FFFF00;
$default-text-color: #405570;
$default-text-font: Open Sans,sans-serif!important;