@import '../../../styles/shared.scss';

.button {
    width: 100%;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
    padding: 0px;
    border-radius: 4px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    background-color: #{$blue};
    color: $white;

    &--cancel {
        background-color: $white;
        color: #{$blue};
        border: 2px solid #{$blue};
    }

    &:disabled {
        color: #ccc;
        cursor: not-allowed;
    }

    &:hover {
        animation: enable 0.2s linear;
    }
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}