@import '../../../styles/shared.scss';

.Button {
    display: inline-block;
    font-size: 1.2rem;
    margin: 20px auto;
    text-align: center;
    padding: 11px 24px;
    border-radius: 4px;
    text-transform: capitalize;
    white-space: nowrap;
    line-height: 10px;
    border: 1px solid #{$blue};
    cursor: pointer;
    background-color: #{$blue};
    color: #fff;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}