.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white; */
    /* background-image: url('searchicon.png'); */
    /* background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px; */
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;

}
.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.InputElement:focus {
    outline: none;
    background-color: #ccc;

}
.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}