.SearchWrapper {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid lightgray;
    margin-left: 20px;
    position: fixed;
 
}

.Search {
    width: 100%;
    position: relative;
}

.Search__input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    box-sizing: border-box;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    border: 0px;
    font-size: 18px;
    color: black;
    outline: none;
}

.SearchIcon {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

@media (max-width: 499px) {
    .SearchWrapper {
        width: 90%;
        position: relative;
    }
}