@import '../../../styles/_shared.scss';

.search-wrapper {
    margin-top: 88px;
    width: 50%;
    height: 40px;
    border-bottom: 1px solid #{$gray};
    margin-left: 20px;
    position: fixed;
    z-index: 50;

    .search {
        width: 100%;
        position: relative;

        .search__input[type="text"] {
            width: 100%;
            padding: 10px;
            padding-left: 40px;
            box-sizing: border-box;
            background-color: rgba($color: $background-color, $alpha: 0.1);
            border: 0px;
            font-size: 18px;
            color: black;
            outline: none;
        }
        .search-icon {
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
        }
    }
    @media (max-width: 499px) {
        width: 90%;
    }
 
}


